<!DOCTYPE html>


<html xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <meta charset="UTF-8">

    <title>Index</title>
</head>
<style>

</style>


<body>


<div class="container h-100 " style="margin-top:15%">

    <div class="row d-flex justify-content-center align-items-center h-100">



        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col">
                <img src="/esociety_logo.png" width="100px">
            </div>
            <div class="col">
                <img src="/arrows.png" width="60px">
            </div>
            <div class="col">
                <img src="/twitter_logo.png" width="100px">
            </div>




        </div>
    </div>
</div>
<div class="row d-flex justify-content-center align-items-center h-100">
    <h3>Connected to Twitter</h3>
</div>
<div class="row d-flex justify-content-center align-items-center h-100">
    <p>You can now see posts from your e-society friends in twitter</p>
</div>
<div class="row d-flex justify-content-center h-100">
    <a th:href="@{/saveTwitter}">Save connection</a>


</div>



</body>

</html>