


<!DOCTYPE html>


<html xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <title>Index</title>
</head>
<style>

</style>
<body>


<nav class="navbar justify-content-between sticky-top" >
    <a class="navbar-brand" href="#">
        <img src="/esociety_logo.png" width="30" height="30" class="d-inline-block align-top" alt="">
        E-society
    </a>
    <form class="form-inline" th:action="@{/home/profile}" method="post">
        <input class="form-control mr-sm-2" type="search" name="email" placeholder="Search" aria-label="Search">
        <button class="btn btn-primary my-2 my-sm-0" type="submit">Search</button>
    </form>
</nav>







<div class="container-fluid ">
    <div class="row  ">
        <div class="col-auto col-md-3 col-xl-2 px-sm-0 px-0">
            <div class="d-flex flex-column align-items-center align-items-sm-start px-0 pt-2 text-white min-vh-100 "style="position:fixed;background-color:#D1FBFC;">

                <ul class="nav nav-pills flex-column mb-sm-2 mb-0 align-items-center align-items-sm-start mt-2" style="width:100%;" id="menu">

                    <li class="list-group-item list-group-item-action px-3 border-0 rounded mt-4">
                        <a th:href="@{/home}" class="nav-link align-middle px-0">
                            <i class="bi"> <img src="/esociety_logo.png" width="20px" height="20px"></i> <span class="ms-1 d-none d-sm-inline">Esociety</span>
                        </a>
                    </li>
                    <li class="list-group-item list-group-item-action px-3 border-0 rounded mt-4">
                        <a th:href="@{/home/facebook}" class="nav-link align-middle px-0">
                            <i class="bi"> <img src="/facebook_logo.png" width="20px" height="20px"></i><span class="ms-1 d-none d-sm-inline"> Facebook</span>
                        </a>
                    </li>
                    <li class="list-group-item list-group-item-action px-3 border-0 rounded mt-4">
                        <a th:href="@{/home/twitter}" class="nav-link align-middle px-0">
                            <i class="bi"> <img src="/twitter_logo.png" width="20px" height="20px"></i><span class="ms-1 d-none d-sm-inline"> Twitter</span>
                        </a>
                    </li>

                    <li class="list-group-item list-group-item-action px-3 border-0 rounded mt-4">
                        <a th:href="@{/profile}" class="nav-link align-middle px-0">
                            <i class="fs-4 bi-person"></i> <span class="ms-0 d-none d-sm-inline  " >Profile</span>
                        </a>
                    </li>


                    <li class="list-group-item list-group-item-action px-3 border-0 rounded mt-4">
                        <a th:href="@{/profile/settings}" class="nav-link align-middle px-0">
                            <i class="bi bi-gear"></i><span class="ms-2 d-none d-sm-inline">Settings</span>
                        </a>
                    </li>
                </ul>
                <hr>
                <div class="dropdown pb-4">
                    <a href="#" class="d-flex align-items-center text-dark text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                        <img th:src="${current_user.getPhoto()}" alt="" width="30" height="30" class="rounded-circle">
                        <span class="d-none d-sm-inline mx-1" th:text="${current_user.getEmail()}"></span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark text-small shadow">

                        <li><a class="dropdown-item" href="@{/home/me}">Profile</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="@{/logout}">Sign out</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col py-0 p-0 sm-8 " >
            <div  >
                <div class="container py-5">

                    <div class="row">
                        <div class="col-md-4">

                            <div class="card mb-4 sticky-top" style="top:110px">
                                <div class="card-body text-center">
                                    <img th:src="${User.getPhoto()}" width="150" class="rounded-circle"/>
                                    <h5 class="my-3"><p th:text="${User.getFirstname()}+ '  '  +${User.getLastname()}"></p></h5>
                                    <p class="text-muted" th:text="${User.getEmail()}"></p>
                                    <button th:if="${following == true}"  id= "follow" class="btn btn-primary" >Unfollow</button>
                                    <button th:unless="${following == true}"  id="follow" class="btn btn-primary" >Follow</button>



                                    <script>
                                           $("#follow").click(function(){
                                                      $.post("/home/follow",
                                                      {
                                                        email: "[[${User.getEmail()}]]"

                                                      },
                                                      function(data, status){
                                                         if (document.getElementById("follow").textContent == "Follow"){
                                                            document.getElementById("follow").textContent = "Unfollow";
                                                        } else {
                                                            document.getElementById("follow").textContent = "Follow";
                                                        }
                                                      });
                                                    });
                                    </script>

                                    <div class="row ml-3">
                                        <div class="col-sm">
                                            <p class="text-muted" th:text="Followers"></p> <b th:text="${User.getFollowers().size()}"></b>
                                        </div>
                                        <div class="col-sm">

                                        </div>
                                        <div class="col-sm">
                                            <p class="text-muted" th:text="Following"></p> <b th:text="${User.getFollowing().size()}"></b>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="card mb-2 sticky-top " style="top:500px;">
                                <div class="card-body ">

                                    <div class="row">
                                        <div class="col-sm">
                                            <p class="mb-0 text-muted">Title </p>
                                        </div>
                                        <div class="col-sm">
                                        </div>
                                        <div class="col-sm">
                                            <p class="mb-0"> Cs student </p>
                                        </div>
                                        <br>


                                    </div>
                                    <hr>

                                    <div class="row">
                                        <div class="col-sm">
                                            <p class="mb-0 text-muted">Phone</p>
                                        </div>
                                        <div class="col-sm">
                                        </div>
                                        <div class="col-sm">
                                            <p class="mb-0">6972524496 </p>
                                        </div>
                                        <br>


                                    </div>
                                    <hr>

                                    <div class="row">
                                        <div class="col-sm">
                                            <p class="mb-0 text-muted">Birthday </p>
                                        </div>
                                        <div class="col-sm">
                                        </div>
                                        <div class="col-sm">
                                            <p class="mb-0" >24 September </p>
                                        </div>
                                        <br>


                                    </div>
                                    <hr>

                                    <div class="row">
                                        <div class="col-sm">
                                            <p class="mb-0 text-muted">Gender </p>
                                        </div>
                                        <div class="col-sm">
                                        </div>
                                        <div class="col-sm">
                                            <p class="mb-0" >Female </p>
                                        </div>

                                    </div>


                                </div>
                            </div>

                        </div>
                        <div class="col-lg-6">
                            <div class="card mb-4">
                                <div class="card-body ">
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <p class="mb-0"><img src="/facebook_logo.png" alt="" width="50" height="50" class="rounded-circle" /> </p>
                                        </div>
                                        <div class="col-sm-9">

                                            <p class="mt-2"  th:unless="${User.getSocial().getFacebookName()==null}" th:text="${User.getSocial().getFacebookName()}"></p>
                                            <form th:action="@{/connect/facebook}" method="post">
                                                <input type="hidden" name="scope" value="public_profile,email,user_friends,user_posts,user_photos,instagram_basic" />
                                                <p class="text-muted" th:if="${User.getSocial().getFacebookName()==null}" > User is not connected to Facebook</p>
                                            </form>

                                        </div>
                                    </div>
                                    <hr>

                                    <div class="row">
                                        <div class="col-sm-3">

                                            <p class="mb-0"><img src="/twitter_logo.png" alt="" width="60" height="40" class="rounded-circle" /> </p>
                                        </div>
                                        <div class="col-sm-9">
                                            <form th:action="@{/connect/twitter}"  method="post" >
                                                <!--  <input type="hidden" name="scope" value="publish_stream,offline_access" /> -->
                                                <p class=" mt-2"  th:unless="${User.getSocial().getTwitterName()==null}" th:text="${User.getSocial().getTwitterName()}"></p>
                                                <p class="text-muted" th:if="${User.getSocial().getTwitterName()==null}" > User is not connected to Twitter</p>
                                            </form>
                                        </div>
                                    </div>


                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12 mb-4">
                                    <form method="post" th:action="@{/upload}" enctype="multipart/form-data" th:object="${post}">
                                        <div class="container mt-2 mb-0">
                                            <div class="row d-flex align-items-center justify-content-center">
                                                <div class="card">
                                                    <div class="d-flex justify-content-between p-2 px-3">
                                                        <div class="d-flex flex-row align-items-center"> <img th:src="${User.getPhoto()}" width="50" class="rounded-circle">
                                                            <div class="d-flex flex-column ml-2"> <span class="font-weight-bold" th:text="${User.getEmail()}"></span> <small class="text-success fs-6 fst-italic">E-society</small> </div>
                                                        </div>

                                                    </div>
                                                    <div class="p-2">
                                                        <input type="file"  th:field="*{image}"  accept="image/*" class="form-control form-control-sm rounded-0" value="Add photo">
                                                    </div>
                                                    <div class="p-2">

                                                        <textarea class="form-control rounded-0"  th:field="*{description}" id="exampleFormControlTextarea1" placeholder="Make a new post" rows="3"></textarea>
                                                    </div>

                                                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                                                        <button type="submit" class="btn btn-primary me-md-2">Share</button>
                                                    </div>
                                                    <br>


                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>




                                <th:block th:each="post: ${Feed}" >

                                    <div class="container" th:if="${post.getItem()=='facebook'}" >
                                        <div class="row justify-content-center">
                                            <div class="col-lg-10">
                                                <div  class="post-block border-facebook">

                                                    <div class="d-flex justify-content-between">
                                                        <div class="d-flex mb-3">
                                                            <div class="mr-2">
                                                                <a href="#!" class="text-dark"> <img th:src="${User.getPhoto()}"  class="author-img"/>

                                                            </div>
                                                            <div>
                                                                <h5 class="mb-0" th:text="${post.getUser().getSocial().getFacebookName()}"></h5>
                                                                <small class="text-facebook">facebook</small>
                                                            </div>
                                                        </div>
                                                        <div class="post-block__user-options">

                                                            <img src="facebook_logo.png" width="50px" height="40px">


                                                        </div>
                                                    </div>
                                                    <div class="post-block__content ">
                                                        <p th:text="${post.getDescription()}"></p>
                                                        <img th:src="${post.getImage()}" class="post-block__content img">
                                                    </div>
                                                    <hr>
                                                    <div class="mb-3">

                                                        <a  class="text-danger mr-2"><span><i class="fa fa-heart"></i></span></a> <a  class="text-muted font-weight-bold" th:text="${post.getTotal_likes()}"> people</a></p>
                                                    </div>

                                                    <div class="post-block__comments">

                                                        <!-- Comment Input -->

                                                        <!-- Comment content -->

                                                        <!-- More Comments -->


                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="container" th:if="${post.getItem()=='twitter'}" >
                                        <div class="row justify-content-center">
                                            <div class="col-lg-10">
                                                <div  class="post-block border-twitter">

                                                    <div class="d-flex justify-content-between">
                                                        <div class="d-flex mb-3">
                                                            <div class="mr-2">
                                                                <a href="#!" class="text-dark"> <img th:src="${User.getPhoto()}" class="author-img"/>

                                                            </div>
                                                            <div>
                                                                <h5 class="mb-0" th:text="${post.getUser().getSocial().getTwitterName()}"></h5>

                                                                <small class="text-twitter">twitter</small>
                                                            </div>
                                                        </div>
                                                        <div class="post-block__user-options">

                                                            <img src="/twitter_logo.png" width="50px" height="40px">


                                                        </div>
                                                    </div>
                                                    <div class="post-block__content ">
                                                        <p th:text="${post.getDescription()}"></p>

                                                    </div>
                                                    <hr>
                                                    <div class="mb-3">

                                                        <a  class="text-danger mr-2"><span><i class="fa fa-heart"></i></span></a> <a  class="text-muted font-weight-bold" th:text="${post.getTotal_likes()}"> people</a></p>
                                                    </div>

                                                    <div class="post-block__comments">

                                                        <!-- Comment Input -->

                                                        <!-- Comment content -->

                                                        <!-- More Comments -->


                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="container" th:if="${post.getItem()=='esociety'}" onLoad="post.getLikes().forEach(checkLike());">
                                        <div class="row justify-content-center">
                                            <div class="col-lg-10">
                                                <div  class="post-block border-esociety">

                                                    <div class="d-flex justify-content-between">
                                                        <div class="d-flex mb-3">
                                                            <div class="mr-2">
                                                                <a href="#!" class="text-dark"> <img th:src="${User.getPhoto()}"  class="author-img"/>

                                                            </div>
                                                            <div>
                                                                <h5 class="mb-0" th:text="${post.getUser().getSocial().getFacebookName()}"></h5>
                                                                <small class="text-success">e-society</small>
                                                            </div>
                                                        </div>

                                                    </div>
                                                    <div class="post-block__content ">
                                                        <p th:text="${post.getDescription()}"></p>
                                                        <img th:src="${post.getImage()}"  class="post-block__content img" >
                                                    </div>

                                                    <div class="mb-3">

                            <span> <img class="like d-inline-block" th:if="${User.getLikedPosts().contains(post)}" id="like"  width="30" height="30" src="like.png" ></img>
                           <img class="like d-inline-block" th:unless="${User.getLikedPosts().contains(post)}" id="like" width="30" height="30" src="dislike.png" ></img></span></button>
                                                        <a class="text-muted font-weight-bold" id="likes" th:text="${post.getLikes().size()}" > people</a></p>
                                                    </div>

                                                    <script>
                                           $("#like").click(function(){
                                                      $.post("profile/post/like",
                                                      {
                                                        post_id: "[[${post.getPostId()}]]"

                                                      },
                                                      function(data, status){
                                                         if (document.getElementById("like").src.match("dislike.png")){
                                                          document.getElementById("like").src = "like.png";

                                                            if([[${User.getLikedPosts().contains(post)}]]== true){

                                                            document.getElementById("likes").textContent="[[${post.getLikes().size()}]]";
                                                            }else{
                                                            document.getElementById("likes").textContent="[[${post.getLikes().size()} +1 ]]";
                                                            }


                                                        } else {
                                                            document.getElementById("like").src ="dislike.png";
                                                            document.getElementById("likes").textContent= document.getElementById("likes").value -1;

                                                            if([[${User.getLikedPosts().contains(post)}]]== false){

                                                            document.getElementById("likes").textContent="[[${post.getLikes().size()}]]";
                                                            }else{
                                                            document.getElementById("likes").textContent="[[${post.getLikes().size()} -1 ]]";
                                                            }
                                                        }


                                                      });
                                                    });
                        </script>


                                                    <div class="post-block__comments">
                                                        <!-- Comment Input -->
                                                        <form th:action="@{home/comment}" method="post" object="${comment}" >
                                                            <input type="hidden"  name="post" th:value="${post.getPostId()}"/>
                                                            <div class="input-group mb-3 ">



                                                                <input type="text" class="form-control" placeholder="Add your comment" name="description"/>
                                                                <div class="input-group-append">
                                                                    <button class="btn btn-primary" type="submit" ><i class="fa fa-paper-plane"></i></button>

                                                                </div>

                                                            </div>
                                                        </form>
                                                        <!-- Comment content -->
                                                        <th:block th:each="comment: ${post.getComments()}" >
                                                            <div class="comment-view-box">
                                                                <div class="d-flex mb-0 mt-3">
                                                                    <img th:src="${comment.getUser().getPhoto()}"  class="author-img author-img--small mr-2"/>


                                                                    <div>
                                                                        <h6 class="mb-1" th:text="${comment.getUser().getFirstname()} +' ' + ${comment.getUser().getLastname()}"><small class="text-muted">1m</small></h6>
                                                                        <p  th:text="${comment.getDescription()}"></p>

                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <hr class="m-0 mb-0">
                                                        </th:block>
                                                        <!-- More Comments -->


                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                </th:block>
                            </div>


                        </div>
                    </div>
                    </section>
                </div>
            </div>
        </div>
    </div>


</div>
</body>
</html>